<form id="carForm">
    <div class="row mb-3" hidden>
        <label for="inputID" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id" value="Exibir ID aqui" aria-label="Disabled input example"
                disabled readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputMarca" class="col-sm-2 col-form-label">Marca</label>
        <div class="col-sm-10">
            <input type="text" id="marca" name="marca" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputModelo" class="col-sm-2 col-form-label">Modelo</label>
        <div class="col-sm-10">
            <input type="text" id="modelo" name="modelo" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputAno" class="col-sm-2 col-form-label">Ano</label>
        <div class="col-sm-10">
            <input type="number" id="ano" name="ano" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPlaca" class="col-sm-2 col-form-label">Placa</label>
        <div class="col-sm-10">
            <input type="text" id="placa" name="placa" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check" hidden>
                <input class="form-check-input" type="checkbox" id="alugado">
                <label class="form-check-label" for="gridCheck1">
                    Alugado
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
<script>
    document.getElementById('carForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        const data = {
            placa: document.getElementById('placa').value,
            marca: document.getElementById('marca').value,
            modelo: document.getElementById('modelo').value,
            ano: Number(document.getElementById('ano').value),
            disponivel: !document.getElementById('alugado').checked
        };

        data.placa = data.placa.replace(/[^A-Za-z0-9]/g, '').toUpperCase();
        console.log(data.placa);

        if (data.placa.length !== 7) {
            alert('Placa inválida.');
            return;
        }

        const response = await fetch('/car', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });
        if (response.ok) {
            alert('Carro salvo com sucesso!');
            window.location.reload();
        } else {
            const error = await response.json();
            alert('Erro: ' + error.error);
        }
    });
</script>