<form id="clienteForm">
    <div class="row mb-3" hidden>
        <label for="inputID" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id" value="Exibir ID aqui" aria-label="Disabled input example"
                disabled readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nome">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputCpf" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cpf">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTelefone" class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="telefone">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
<script>
    document.getElementById('clienteForm').addEventListener('submit', async function (e) {
        e.preventDefault();
        const data = {
            cpf: document.getElementById('cpf').value,
            nome: document.getElementById('nome').value,
            telefone: document.getElementById('telefone').value,
            email: document.getElementById('email').value
        };

        data.cpf = data.cpf.replace(/\D/g, '');
        data.telefone = data.telefone.replace(/\D/g, '');

        if (data.cpf.length !== 11) {
            alert('CPF inválido.');
            return;
        }
        if (data.telefone.length !== 11) {
            alert('Telefone inválido.');
            return;
        }


        const buscaCpf = await fetch(`/customer/?cpf=${data.cpf}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const clienteExistente = await buscaCpf.json();
        if (clienteExistente) {
            alert('Já existe um cliente cadastrado com este CPF.');
            return;
        }

        const buscaTelefone = await fetch(`/customers/`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const listaTelefone = await buscaTelefone.json();
        if (listaTelefone.clientes) {
            listaTelefone.clientes.forEach(cliente => {
                if (cliente.telefone === data.telefone) {
                    alert('Já existe um cliente cadastrado com este telefone.');
                    document.getElementById('telefone').value = '';
                    data.telefone = '';
                }
            });
        }

        const buscaEmail = await fetch(`/customers/`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const listaEmail = await buscaEmail.json();
        if (listaEmail.clientes) {
            listaEmail.clientes.forEach(cliente => {
                if (cliente.email === data.email) {
                    alert('Já existe um cliente cadastrado com este email.');
                    document.getElementById('email').value = '';
                    data.email = '';
                }
            });
        }

        if (!data.nome || !data.cpf || !data.telefone || !data.email) {
            return;
        }

        const response = await fetch('/customer', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            alert('Cliente salvo com sucesso!');
            window.location.reload();
        } else {
            const error = await response.json();
            alert('Erro: ' + error.error);
        }
    });
</script>